{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
</head>

<body>
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>

    <form action="{% url 'update' task.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="titleInput">Title</label><br>
            <input id="titleInput" name="title" type="text"
                   placeholder="Input title" value="{{ task.title }}">
        </div>

        <div>
            <label for="dueInput">Due at:</label><br>
            <input id="dueInput" name="due_at"
                   type="datetime-local"
                   value="{{ task.due_at|date:'Y-m-d\TH:i' }}">
        </div>

        <div>
            <label for="priorityInput">Priority (1-5):</label><br>
            <select id="priorityInput" name="priority">
                <option value="1" {% if task.priority == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if task.priority == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if task.priority == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if task.priority == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if task.priority == 5 %}selected{% endif %}>5</option>
            </select>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

    <br>
</body>
</html>